* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
form label{
font-size: 30px;
display: block;
}
form textarea {
    width: 100%;
}
input {
border: none;

}
:root {
    --primColor:#5A699A;
    --secondColor:#3E424F;
    --Namecolor:#327526 ;
    --focus-On-text:#9BA41E    ;
    --o-animation: 0.4s;
}
.bg1  {
    font-size: 3.5rem !important;
}
.bg2 {
    font-size: 2.1rem !important;
}

.sh-main {
    text-shadow: 0.4rem 0.4rem 0.7rem steelblue;

}
.sh-second2{
    text-shadow: 0.2rem 0.2rem 0.5rem rgb(124, 30, 14);

}
.sh-second{
    text-shadow: -0.2rem -0.2rem 0.5rem rgba(44, 124, 189, 0.521);

}
.focus {
    color: var(--Namecolor);
}
.focusnick {
    color: #483E6B;
}
.primColor {
    color: var(--primColor);
}
.focusWord {
color: var(--focus-On-text);
}

h1{
    display: block;
    font-size: 4rem;
    color: #444;
    /* text-shadow: 0.4rem 0.4rem 0.7rem steelblue; */
}
h2{
    display: block;
    font-size: 2rem;
    color: #444;
}

p {
    font-size:2rem;
    padding:20px 100px;
}


.btn {
    text-decoration: none;
    
    padding:20px 40px;
    font-size: 1.4rem;
    display: inline-block;
    margin-top: 2rem;
    color: #333;
    background-color: #ddd;
    transition:all var(--o-animation) ease-in-out; 
}

.btnDark {
    text-decoration: none;
    padding:20px 40px;
    font-size: 1.4rem;
    display: inline-block;
    margin-top: 2rem;
    color: #ddd;
    background-color: #333;
    transition:all var(--o-animation) ease-in-out; 
}
.btn:hover {
    color: #ddd;
    background-color: #333;
}
.btnDark:hover {
    color: #333;
    background-color: #ddd;
}

a{
    text-decoration: none;
    font-size: 1.2rem; 
    text-align: center;
    color: #333;
}



body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    padding: 20px 50px;
    line-height: 1.5;
    
    /* overflow: hidden;  */
}
#pageMain  {
    height: 100vh;
     
  }
  
.showcase img {
   height: 300px;
   width: 600px;

}


#page1 {
    min-height: 100vh;
    background-color:#74B1AB ;
}
#chebli {
    height: 100vh;
    background-color: #B0CE8D ;
}
#bobo {
    height: 100vh;
}
#jojo {
    height: 100vh;
}
#dakik {
    height: 100vh;
}


#page1 ul ,#pageMain ul{
    list-style: none;
    
}

#page1 ul li a, #pageMain ul li a{
    text-decoration: none;
    color: #333;
    font-size: 2rem;
    line-height: 1.8;
}

#chebli a img,#bobo a img, #jojo a img, #dakik a img  {
    width: 5%;
    height: 5%;
    margin-right: 1rem;
   
  

}

#chebli h2{
    float: left;
    width: 50%;
  transform: translateY(-2000px);
    animation: animate1 2s ease-in 5s forwards;

    ;
}

@keyframes animate1 {
    to {
        transform: translateY(0);
    }
}
 a img:hover {
transform: scale(8);
}
#chebli .img, #bobo .img, #dakik .img {
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content:center ; */
}
#chebli a[target]:hover {
    transform: translate(300px, -500px) ;
}